.hiddenContent{

	display: none;
}

body {
  font-family:Roboto;
  color:#0e5274;
  background-image: url(https://i.ibb.co/XyDt1x7/bg-portal.jpg);
  background-repeat: no-repeat;
}

.table-align{
    width:200px;
    margin:0 auto;
  }

.login {
    color: red;
}

.btn-offset {
    text-align:center;
  }
  
  .button{
    color:#ffffff;
    background-color:#527081;
    padding-top:8px;
    padding-bottom:8px;
    width:100px;
    border:medium;
    border-radius:50px;
    margin-top:20px;
    text-transform:uppercase;
    box-shadow:0px 3px 4px rgba(0, 0, 0, 0.2);
  }