.hiddenContent{
    display: none;
}

body {
  font-family:Roboto;
  color:#0e5274;
  background-image: url(bg-portal.jpg);
  background-size: 100%;
}

h1 {
    padding-bottom: 40px;
  }

h2 {
    text-align: center;
    padding-top: 25px; 
    padding-bottom: 40px;
}

.login {
    color: red;
}

#login {
    text-align: center;
}

.btn-offset {
    text-align: center;
  }
  
.button{
    color: #ffffff;
    font-weight: 700;
    background-color: #0f658d;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100px;
    border: medium;
    border-radius: 50px;
    margin-top: 5px;
    margin-left: 5px;
}
